.navbar #social li {
	display: block;
	margin-top: 10px;
	overflow: hidden;
	text-indent: -999px;
	float: left;
}
.navbar #social li a {
	background: url(http://colonyultimate.com/img/social_media_array1.png) no-repeat 0 0;
	display: block;
	height: 34px;
	width: 34px;
}
.navbar #social .facebook a { background-position: 0 0; }
.navbar #social .twitter a { background-position: -34px 0; }
.navbar #social .youtube a { background-position: -68px  0; }
.navbar #social .gplus a { background-position: -102px 0; }
.navbar #social .rssfeed a { background-position: -136px 0; }
.navbar #social .facebook a:hover { background-position: 0 -34px; }
.navbar #social .twitter a:hover { background-position: -34px -34px; }
.navbar #social .youtube a:hover { background-position: -68px -34px; }
.navbar #social .gplus a:hover { background-position: -102px -34px; }
.navbar #social .rssfeed a:hover { background-position: -136px -34px; }
.navbar #social .facebook a:active { background-position: 0 -68px; }
.navbar #social .twitter a:active { background-position: -34px -68px; }
.navbar #social .youtube a:active { background-position: -68px -68px; }
.navbar #social .gplus a:active { background-position: -102px -68px; }
.navbar #social .rssfeed a:active { background-position: -136px -68px; }