/* SOCIAL */

.navbar #social li {
	display: block;
	margin-top: 10px;
	overflow: hidden;
	text-indent: -999px;
	float: left;
}
.navbar #social li a {
	background: url(http://colonyultimate.com/img/social_media_array1.png) no-repeat 0 0;
	display: block;
	height: 34px;
	width: 34px;
}
.navbar #social .facebook a { background-position: 0 0; }
.navbar #social .twitter a { background-position: -34px 0; }
.navbar #social .youtube a { background-position: -68px  0; }
.navbar #social .gplus a { background-position: -102px 0; }
.navbar #social .rssfeed a { background-position: -136px 0; }
.navbar #social .facebook a:hover { background-position: 0 -34px; }
.navbar #social .twitter a:hover { background-position: -34px -34px; }
.navbar #social .youtube a:hover { background-position: -68px -34px; }
.navbar #social .gplus a:hover { background-position: -102px -34px; }
.navbar #social .rssfeed a:hover { background-position: -136px -34px; }
.navbar #social .facebook a:active { background-position: 0 -68px; }
.navbar #social .twitter a:active { background-position: -34px -68px; }
.navbar #social .youtube a:active { background-position: -68px -68px; }
.navbar #social .gplus a:active { background-position: -102px -68px; }
.navbar #social .rssfeed a:active { background-position: -136px -68px; }

/* SPONSORS */

.sponsors {
	padding: 10px 10px 0px;
	text-align: center;
	margin: 0;
}

.sponsors2 {
	padding: 0px 10px 10px;
	text-align: center;
	margin: 0;
}
.sponsors li,.sponsors2 li {
	margin: 12px;
	display: inline;
	font-size: 24px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.sponsors li a,.sponsors2 li a {
	color: #333;
}
#content .sponsor-details {
	padding: 20px;
}
#content .sponsor-details .sponsor-logo {
	text-align: center;
}
.sponsor-details .entry-content {	
	margin-top: 10px;
}

/* PLAYER */

.player {
  display: block;
  float: left;
  margin-right: 12px;
  margin-bottom: 16px;
  width: 125px;
  position: relative;
}

.number {
  background: #1d1f1d;
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #272927), color-stop(1, #000100) );
  background-image: -moz-linear-gradient( center top, #272927 0%, #000100 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#272927', endColorstr='#000100');
  color: #fff;
  line-height: 16px;
  min-width: 12px;
  text-align: center;
  padding: 4px 6px;
  display: block;

  font-weight: bold;
  position: absolute;
  top: 76px;
  left: 0;
}

.number a {
	color: #fff;
  height: 16px;
  line-height: 16px;
  min-width: 12px;
  text-align: center;
  display: block;
}